/*Universal Styles*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Navbar styles*/



/*Lead follow-up assistan section styles*/


.img-fluid{
    height: 100vh;
    width: 100vw;
}

/*Footer styles*/
.jumbotron{
    background-color: #0f74cc;
    margin: 0;
    position: relative;
}
.footer-p{
    color: #ffff;
    font-style: italic;
    font-weight: normal;
}
.footer-p::after{
    content: "TM";
    font-size: 11px;
    position: absolute;
    margin-top: -2px;
    margin-left: 7px;
    font-style: normal;
}
.terms-and-conditions{
    position: absolute;
    right: 20px;
    bottom: 10px;
    
}
a.terms{
    color: #ffff;
    font-weight: normal;
}
span.hyphen{
    font-size: 400;
    font-weight: bold;
    color: #ffff;
    padding: 10px 10px;
    margin-top: -10px;
}
h5.copy-right{
    color: #ffff;
    position: absolute;
    left: 30px;
    bottom: 10px;
    font-weight: normal;
}

